/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN.otf');
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN-Italic.otf');
    font-style: italic;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
}*/

/*body {
    font-family: 'D-DIN';
    color: #DDDDDD;
    background: url("../img/fondo_izquierda_movil.jpg") repeat-y, url("../img/fondo_derecha_movil.jpg") repeat-y;
    background-color: #151515;
    background-attachment: fixed, fixed;
    background-position: top left, top 393px right;
    overflow-y: scroll;
}

.hidden {
    position: absolute;
    left: -32000px;
}

/*header {
    background-color: #000000;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 200;
}


header>a {
    display: block;
    width: 242px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

header>a>figure>picture>img {
    max-width: 100%;
    max-height: 100%;
}

ul.migas_pan {
    border-top: 1px solid #333333;
    padding: 0.2rem 5px;
    list-style-type: none;
    clear: both;
}

ul.migas_pan li {
    display: inline;
    font-size: 0.8rem;
}

ul.migas_pan li+li:before {
    padding: 2px;
    content: "/\00a0";
}

ul.migas_pan li a {
    color: #3273c5;
    text-decoration: none;
}

ul.migas_pan li a:hover {
    text-decoration: underline;
}
nav {
    text-align: center;
}


div.login{
    text-align: center;
}
div.login form input[type=text] {
    background-color: #282727;
    border: none;
    padding: 0.2em;
    width:120px;
    color: #AAAAAA
}

div.login form button {
    border:none;
    background-color: #3274c5;
    border-radius: 6px;
    padding: 0.2rem 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem auto;
    color: white;
}


header>nav {
    border-top: 1px solid #333333;
}
nav>ul {
    list-style-type: none;
}

nav>ul>li {
    display: inline-block;
    text-transform: uppercase;
    border-left: 1px solid #333333;
    padding: 5px 20px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #AAAAAA;
    letter-spacing: 1px;
}

nav>ul>li>a:hover {
    color: #DDDDDD;
}

nav>ul>li:nth-child(4) {
    border-right: 1px solid #333333;
}

li.pc, li.tablet {
    position: absolute;
    left: -3200px;
}
article {
    width: 95%;
    margin: 0 auto;
}*/

#sinopsis img {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

#sinopsis p {
    color: #AAAAAA;
    margin: 12px 0;
    line-height: 1.2rem;
}

#trailer video {
    margin-top: 1rem;
    width: 100%;
    height: 41.5%;
}

#trailer audio {
    display: block;
    width: 50%;
    height: 32px;
    margin: 5px auto;
}

#noticias>h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0.2em 0.4em;
    border-top: 2px solid rgba(170, 170, 170, 0.25);
    border-bottom: 2px solid rgba(170, 170, 170, 0.25);
    margin: 1em 0;
}

#noticias a {
    text-decoration: none;
    color: #dddddd;
    text-transform: uppercase;
}

#noticias h4 {
    display: inline-block;
}

#noticias a:hover {
    -webkit-transition: color 175ms;
    -moz-transition: color 175ms;
    transition: color 175ms;
    color: #1786eb;
}

div.n_principal, div.n_secundaria {
    background-color: #282727;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;
}

div.n_principal {
    text-align: center;
}

div.n_principal img {
    width: 100%;
    border-bottom: 2px solid #3273c5;
}

div.n_principal h4 {
    margin: 1rem;
}

div.n_secundaria {
    position: relative;
}

div.n_secundaria img {
    display: block;
    position: relative;
    width: 40%;
    height: 100%;
}

div.n_secundaria:nth-child(odd) img {
    border-right: 2px solid #3273c5;
}

div.n_secundaria:nth-child(even) img {
    border-left: 2px solid #3273c5;
    left: 60%;
}

div.n_secundaria div.titulo {
    width: 60%;
    position: absolute;
    top: 0;
    padding: 1rem;
}

div.n_secundaria:nth-child(odd) div.titulo {
    right: 0;
}

div.n_secundaria:nth-child(even) div.titulo {
    text-align: right;
}

div.n_secundaria a:nth-last-child() {
    width: 60%;
    position: absolute;
}

#disney_plus {
    width: 100%;
}

#disney_plus a {
    text-decoration: none;
}

#disney_plus>div {
    position: relative;
    text-align: center;
}

#disney_plus>div>a>img:nth-child(1) {
    width: 100%;
}

#disney_plus>div>a>img:nth-child(2) {
    width: 25%;
    position: absolute;
    right: 10%;
    top: 10%;
}

#disney_plus a {
    color: #DDDDDD;
}

#disney_plus>div:nth-child(2) {
    margin: 2rem 0;
}

#disney_plus h4 {
    font-style: italic;
    word-spacing: 2px;
    margin-bottom: 2rem;
}

#disney_plus .button {
    display: block;
    background-color: #3273c5;
    border-radius: 6px;
    padding: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    margin: 0.5rem auto;
}

#disney_plus .button:hover {
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    transition: background-color 250ms;
    background-color: #1876e9;
}

#galeria {
    overflow: hidden;
}

#galeria div#principal {
    background-color: #282727;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;
    height: 300px;
    position: relative;
}

#galeria div#principal img {
    width: 100%;
}

#galeria div#principal h3 {
    display: block;
    text-align: center;
    width: 100%;
    padding: 12px;
    position: absolute;
    bottom: 0;
    background-color: #282727;
    text-transform: uppercase;
}

#galeria ul {
    list-style-type: none;
}

#galeria ul li {
    display: block;
    border-radius: 6px;
    overflow: hidden;
    height: 130px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    float: left;
}

#galeria ul li:nth-child(odd) {
    margin-right: 20px;
}

#galeria ul li img {
    width: 100%;
}
/*
footer {
    text-align: center;
    background-color: #000000;
    padding-bottom: 0.5rem;
}
*/
footer div#autor img {
    width: 30px;
}

footer div#autor span {
    position: relative;
    bottom: 12px;
    padding: 0 5px;
}

footer div#sociales {
    padding-top: 1rem;
}

footer div#sociales a {
    display: inline-block;
    background: url(../img/rrss.png);
    background-size: 300%;
    width: 32px;
    height: 31px;
    color: transparent;
}

footer div#sociales a.twitter {
    background-position: 67px 0;
}

footer div#sociales a.inst {
    background-position: 133px 0;
}

footer div#sociales a:hover {
    background-position-y: -29px;
}

footer div#licencia, footer div#accesiblidad {
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 0.8rem;
}

footer div#licencia a, footer div#accesibilidad a {
    text-decoration: none;
    color: #AAAAAA;
}

#accesibilidad {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#accesibilidad p{
    margin-top: 1rem;
}

#accesibilidad ul {
    padding-left: 2rem;
}

@media all and (min-width:501px) {
    /*body {
        background-image: url(../img/fondo_izquierda.jpg), url(../img/fondo_derecha.jpg);
    }
    li.tablet {
        position: static;
    }
    nav>ul>li:nth-child(4) {
        border-right: none;
    }
    nav>ul>li:nth-child(5) {
        border-right: 1px solid #333333;
    }*/
    #sinopsis img {
        width: 40%;
        float: left;
        margin-right: 0.5rem;
    }
    #sinopsis h4 {
        padding-top: 0.5rem;
    }
    #galeria div#principal {
        height: 500px;
    }
    #galeria div#principal h3 {
        padding: 20px;
    }
    #galeria ul li {
        height: 250px;
    }
}

@media all and (min-width:1001px) {
    /*main {
        max-width: 1250px;
        margin: 0 auto;
    }
    li.pc {
        position: static;
    }
    nav>ul>li:nth-child(5) {
        border-right: none;
    }
    nav>ul>li:last-child {
        border-right: 1px solid #333333;
    }*/
    div.login{
        position: absolute;
    right:0.2rem;
    top:0.2rem;
}
    div.noticias {
        position: relative;
    }
    div.n_principal {
        width: 50%;
        position: relative;
        height: 335px;
    }
    div.n_principal img {
        min-height: 80%;
        border: none;
    }
    div.n_principal a:nth-child(2) {
        display: block;
        position: absolute;
        width: 100%;
        background: #282727;
        bottom: 0;
        border-top: 2px solid #3273c5;
        height: 20%;
    }
    div.secundarias {
        width: 50%;
        height: 350px;
        position: absolute;
        right: 0;
        top: 0;
        padding-left: 1em;
    }
    div.n_secundaria {
        max-height: 101.39px;
    }
    ul#galeria_imagenes li {
        width: calc(33.333333% - 13.333333px);
        margin: 10px 0;
    }
    #disney_plus {
        max-width: 1189.5px;
    }
    ul#galeria_imagenes li:nth-child(3n+1) {
        margin-right: 10px;
    }
    ul#galeria_imagenes li:nth-child(3n+2) {
        margin: 10px 10px;
    }
    ul#galeria_imagenes li:nth-child(3n+3) {
        margin-left: 10px;
        margin-right: 0;
    }
}
