//Creacion de doble fondo
.fondo-doble-vertical(@url1, @url2, @colorFondo,@attach1,@attach2,@pos1,@pos2,@overflow){
  background: url(" @{url1}") repeat-y, url(" @{url2}") repeat-y;
  background-color: @colorFondo;
  background-attachment: @attach1,@attach2;
  background-position: @pos1,@pos2;
  overflow-y: @overflow;
}

//Centra elementos
.centrado(){
  margin: 0 auto;
}

.caja-block(@ancho:100%,@relleno: @relleno) {
  display: block;
  width: @ancho;
  padding: @relleno;
}

.maximos(@anchomax,@altmax){
  max-width: @anchomax;
  max-height: @altmax;
}

//crear flex con el espacio repartido entre los elemntos
.flex-espaciado(){
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//crear una sombra para cajas
.sombra-caja-simple(@x: 0; @y: 0; @height: 3px; @width: 3px) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
//crea una o más sombras para cajas
 .sombra-caja-multiple(@rest...){
  -webkit-box-shadow: @rest;
  -moz-box-shadow: @rest;
  box-shadow: @rest;
}