* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  text-align: center;
}
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  padding-top: 5rem;
  margin: 0 auto;
}
.hidden {
  position: absolute;
  left: -32000px;
}
figure {
  display: block;
  width: 280px;
  background-color: white;
  box-shadow: 0 0 10px 2px black ;
  padding: 0.5rem 0;
}
.uno {
  transform: rotate(-7deg);
  z-index: 2;
}
.uno:hover {
  transition: all 1s ease-in-out;
  transform: rotate(1080deg) scale(1.3);
  z-index: 5;
}
.dos {
  transform: rotate(3deg);
  z-index: 3;
}
.dos:hover {
  transition: all 1s ease-in-out;
  transform: rotate(-720deg) scale(1.3);
  z-index: 5;
}
.tres {
  transform: rotate(12deg);
  z-index: 3;
}
.tres:hover {
  transition: all 1s ease-in-out;
  transform: scale(0.7, 1) skew(30deg);
  z-index: 5;
}
.cuatro {
  transform: rotate(-5deg);
  z-index: 4;
}
.cuatro:hover {
  transition: all 1s ease-in-out;
  transform: rotate(-540deg) scale(1.3) translate(150px, 100px);
  z-index: 5;
}
